RewriteBase /
RewriteRule ^index\.html$ - [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.aayein\.xyz [NC]
RewriteRule ^(.*)$ http://aayein.xyz/$1 [L,R=301]
